# Allwinner V316 device such as an Ausek or HDKing Q6H action camera 
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", ATTR{idProduct}="0002", MODE="0660"

GROUP="plugdev", SYMLINK+="androidv316%n"
